body{
    margin:0px;
    padding:0;
    height:7000px;
    font-family: 'Rosarivo', serif;
    background-color: rgb(188, 225, 227)
}


/* rgb(188, 225, 227) */
.building{
    position:absolute;
    bottom: 0;
}

.text_box{

}
/* Used for the bigger events on the left of the page */
.text-left{

}
/* Used for smaller events on the right of the page */
.text-right{

}
.text-center{
    text-align: center;
    line-height: 200px;
}

#top {
   position:absolute;
}

#splashscreen {
    width:100%;
    height:82%;  /*Height of the page*/
    position:absolute;
    top:0;
    background-image: linear-gradient(#EDC9AF,#B58971);
    /* background-color:rgb(181, 137, 113); */
}

#snarky-text {
    visibility: hidden;
    font-size: 2em;
    text-align: center;
    padding-top: 20em;
}


#sand{
    position: fixed;
    bottom:0;
    width: 100%;
    height:18%; 
    background-color:rgb(181, 137, 113);
}

.ground{
  
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s linear;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
}

.majorYear{
    padding-top: .5em;
    padding-left: 5%;
    font-size: 1.7em;
    font-weight:bold;
}
.majorText{
    padding-top: .5em;
    padding-left: 5%;
    font-size: 1em;
    font-weight:bold;
    width:50%;
}
.majorDescription{
    padding-top: .5em;
    padding-left: 5%;
    font-size: .6em;
    font-weight:bold;
    width:50%;
}
.minorYear{
    text-align:right;
    padding-top: .5em;
    padding-right: 5%;
    font-size: 1.2em;
    font-weight:bold;
}
.minorText{
    padding-left:45%;
    text-align:right;
    padding-top: .5em;
    padding-right: 5%;
    font-size: .7em;
    font-weight:bold;
    width:50%;
}
.minorDescription{
    padding-left:45%;
    text-align:right;
    padding-top: .5em;
    padding-right: 5%;
    font-size: .6em;
    font-weight:bold;
    width:50%;
}
.minorYearLeft{
    text-align:left;
    padding-top: .5em;
    padding-left: 5%;
    font-size: 1.2em;
    font-weight:bold;
}
.minorTextLeft{
    text-align:left;
    padding-top: .5em;
    padding-left: 5%;
    font-size: .7em;
    font-weight:bold;
    width:50%;
}
/* only for 1986 event */
.minorTextLeft2{ 
    text-align:left;
    padding-top: .5em;
    padding-left: 5%;
    font-size: .7em;
    font-weight:bold;
    width:40%;
}
.minorDescriptionLeft{
    text-align:left;
    padding-top: .5em;
    padding-left: 5%;
    font-size: .6em;
    font-weight:bold;
    width:50%;
}
.slide{
    position: absolute;
    height: 100%;
    width:100%;
    font-size:2em;
    font-weight:bold;
}
#first-slide{
    top: calc(100% * 1);
}
#second-slide{
    top: calc(100% * 2);
}
#third-slide{
    top: calc(100% * 3);
}
#fourth-slide{
    top: calc(100% * 4);
}
#fifth-slide{
    top: calc(100% * 5);
}
#sixth-slide{
    top: calc(100% * 6);
}
#seventh-slide{
    top: calc(100% * 7);
}

/* #second-slide{
    position: absolute;
    height:100%;
    padding: 50px;
    top: calc(100% * 2);
} */

/* 
#nomadHolder {
    position: relative;
    background-color:blue;
    width: 100%;
    bottom:0;
} */

.stickyPage{
    width:100%;
    position:absolute;
    top:0;
    height: 800px;
}
.stickyPosition{
    position:relative;
}


/* Specific Image Positioning and Sizing */

#nomadPosition{
    width:95%;
    left: 5%;
    height: calc(800% - (200% - 35%));  /*How long should they be stuck before they go away (100% = 1 slide)*/
    top: calc(200% - 35%); /*How far down page should element be*/
}
.nomad{
    width: 80px; /*Width relative to position element's width above*/
    position: sticky;
    top: 80%; /*How far down the view should it stick (0 at top, page height at bottom)*/
}
#camel{
    width: 160px;
    position: sticky;
    top: 80%; /*How far down the view should it stick (0 at top, page height at bottom)*/
}

#qasrPosition{
    width:95%;
    right: 5%;
    height: calc(800% - (200% - 55%));  /*How long should they be stuck before they go away (100% = 1 slide)*/
    top: calc(200% - 55%); /*How far down page should element be*/
}
#qasr{
    width: 600px;
    float:right;
    position: sticky;
    top: 45%; /*How far down the view should it stick (0 at top, page height at bottom)*/
}

#trucialPosition{
    width:85%;
    left: 15%;
    height: calc(800% - (300% - 55%));  /*How long should they be stuck before they go away (100% = 1 slide)*/
    top: calc(300% - 55%); /*How far down page should element be*/
}
.trucialFlag{
    width: 200px;
    position: sticky;
    top: 60%; /*How far down the view should it stick (0 at top, page height at bottom)*/
}

#britishPosition{
    width:60%;
    left: 40%;
    height: calc(800% - (300% - 35%));  /*How long should they be stuck before they go away (100% = 1 slide)*/
    top: calc(300% - 35%); /*How far down page should element be*/
}
.british{
    width: 50px;
    position: sticky;
    top: 78%; /*How far down the view should it stick (0 at top, page height at bottom)*/
}

#uaeFlagPosition{
    width: 77%;
    left: 21%;
    height: calc(800% - (600% - 45%));  /*How long should they be stuck before they go away (100% = 1 slide)*/
    top: calc(600% - 40%); /*How far down page should element be*/
}
#uaeFlag{
    width: 200px;
    position: sticky;
    top: 60%; /*How far down the view should it stick (0 at top, page height at bottom)*/
}

#alArabPosition{
    width:80%;
    left: 20%;
    height: calc(800% - (700% - 55%));  /*How long should they be stuck before they go away (100% = 1 slide)*/
    top: calc(700% - 55%); /*How far down page should element be*/
}
#alArab{
    width: 350px;
    position: sticky;
    top: 40%; /*How far down the view should it stick (0 at top, page height at bottom)*/
}

#khalifaPosition{
    width:95%;
    left: 5%;
    height: calc(800% - (700% - 35%));  /*How long should they be stuck before they go away (100% = 1 slide)*/
    top: calc(700% - 35%); /*How far down page should element be*/
}
#khalifa{
    width: 450px;
    position: sticky;
    top: 15%; /*How far down the view should it stick (0 at top, page height at bottom)*/
}

#emiratesTowerPosition{
    width:100%;
    left: 0%;
    height: calc(800% - (700% - 5%));  /*How long should they be stuck before they go away (100% = 1 slide)*/
    top: calc(700% - 5%); /*How far down page should element be*/
}
#emiratesTower{
    width: 250px;
    position: sticky;
    top: 50%; /*How far down the view should it stick (0 at top, page height at bottom)*/
}

#gatePosition{
    width:95%;
    right: 5%;
    height: calc(800% - (700% - 15%));  /*How long should they be stuck before they go away (100% = 1 slide)*/
    top: calc(700% - 15%); /*How far down page should element be*/
}
#gate{
    width: 300px;
    float:right;
    position: sticky;
    top: 60%; /*How far down the view should it stick (0 at top, page height at bottom)*/
}

#mosquePosition{
    width: 80%;
    right: 20%;
    height: calc(800% - (700% - 25%));  /*How long should they be stuck before they go away (100% = 1 slide)*/
    top: calc(700% - 25%); /*How far down page should element be*/
}
#mosque{
    width: 450px;
    float:right;
    position: sticky;
    top: 65%; /*How far down the view should it stick (0 at top, page height at bottom)*/
}

#lourvePosition{
    width:95%;
    right: 5%;
    height: calc(800% - (700% + 15%));  /*How long should they be stuck before they go away (100% = 1 slide)*/
    top: calc(700% + 15%); /*How far down page should element be*/
}
#lourve{
    width: 600px;
    float:right;
    position: sticky;
    top: 80%; /*How far down the view should it stick (0 at top, page height at bottom)*/
}

#burjMoPosition{
    width: 85%;
    right: 15%;
    height: calc(800% - (700% - 15%));  /*How long should they be stuck before they go away (100% = 1 slide)*/
    top: calc(700% - 15%); /*How far down page should element be*/
}
#burjMo{
    width: 125px;
    float:right;
    position: sticky;
    top: 40%; /*How far down the view should it stick (0 at top, page height at bottom)*/
}






#emirates{
    padding-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

#zayed{
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}